.msf-post-event {
  height: calc((100vh - 84px) * 0.5 - 24px);
}
.post_event_list {
    font-size: 14px;
    font-family: "Inconsolata", monospace;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    height: 100%
  }
.infinite_list {
  height: calc((100vh - 84px) * 0.5 + 15px);
  padding: 0;
    margin: 0;
    list-style: none;
}